<div class="movie-section">
  <div class="section-title">
    {{ title }}
  </div>
  <div class="movies-container">
    <div class="movie-row">
      <div class="movie-card" *ngFor="let movie of movies" (click)="movieClicked(movie)">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="">
      </div>
    </div>
  </div>
</div>