.movie-section {
    position: relative;
    overflow: hidden;
    padding-left: 10px;
  
    .section-title {
      padding: 5px 0;
      font-size: 21px;
      color: #585050;
      border-bottom: 1px solid #ccc;
      margin-bottom: 9px;
      margin-right: 8px;
      padding-bottom: 1px;
  }
  
    .movies-container {
      overflow-x: scroll;
      min-height: 238px;
      position: relative;
  
      .movie-row {
        display: flex;
        flex-direction: row;
        position: absolute;
        height: 90%;
  
        .movie-card {
          width: 147px;
          border: 1px #ccc solid;
          border-radius: 5px;
          overflow: hidden;
          margin-right: 10px;
    
          img{
            width: 100%;
          }
        }
      }
    }
  }