<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie ? movie.title : '...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button (click)="takePhoto()">Take Photo</button>
  <button (click)="addToFavorit()">Add To Favorit</button>
  <div class="movie-container" *ngIf="movie">
    <div class="movie-image">
      <img [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2/' + movie.poster_path">
    </div>
    <div class="movie-title">
      {{ movie.title }}
    </div>
    <div class="movie-genres">
      {{ movie.genres | genreJoiner }}
    </div>
    <div class="movie-overview">
      {{ movie.overview }}
    </div>
  </div>
</ion-content>
