.movie-container {

    .movie-image {


    }

    .movie-title {
        font-size: 24px;
    }

    .movie-genres, .movie-title {
        text-align: center;
    }

    .movie-genres {
        margin-bottom: 10px;
    }

    .movie-overview {
        text-align: justify;
        padding: 0 6px;
    }
}