<ion-content>
  <div class="login-form">
    <div>
      <img src="assets/images/logo.png" alt="">
    </div>
    <div>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="auth.username"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="auth.password" type="password"></ion-input>
      </ion-item>
    </div>
    <br>
    <div>
      <ion-button expand="block" (click)="signIn()">Sign In</ion-button>
    </div>
    <br>
  </div>
</ion-content>
