<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button (click)="getSection2()">Get Section 2</button>
  <app-movie-section-horizontal 
    [title]="'Favoritos'"
    [static]="true" 
    [outsideMovies]="favoritMovies"></app-movie-section-horizontal>
  <app-movie-section-horizontal
    #movieSection
    *ngFor="let section of sections"
    [path]="section.path"
    [title]="section.title"
    (onMovieClicked)="movieClicked($event)"></app-movie-section-horizontal>

</ion-content>
